h1 {
    font-family: "Spline Sans Mono", monospace;
}

p {
    font-family: "Lato", sans-serif;
}

a {
    font-family: "Inconsolata", monospace;
}

.no-underline {
    text-decoration: none;
    display: block;
}